In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Data/newData.csv")  
df.head()

,Crop,District,Year,Season,Area(Hectare),Production(Tonne),Yield(Tonne/Hectare)
0,Bajra,Anantapur,2014,Kharif,1752,1028.0,0.59
1,Bajra,Anantapur,2015,Kharif,3226,3326.0,1.03
2,Bajra,Anantapur,2016,Kharif,2467,1258.0,0.51
3,Bajra,Anantapur,2017,Kharif,5261,7034.0,1.34
4,Bajra,Anantapur,2018,Kharif,2979,3447.0,1.16

In [4]:
df["District"].unique()

array(['Anantapur', 'Chittoor', 'East godavari', 'Guntur', 'Kadapa',
       'Kurnool', 'Prakasam', 'Spsr nellore', 'Srikakulam',
       'Visakhapatanam', 'Vizianagaram', 'Krishna', 'West godavari',
       ' Chittoor', ' Guntur', ' Krishna', ' Spsr nellore',
       ' Visakhapatanam', ' Vizianagaram', ' West godavari', ' Kurnool',
       ' Prakasam', ' Srikakulam'], dtype=object)

In [5]:
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [7]:
df["District"].unique()

array(['Anantapur', 'Chittoor', 'East godavari', 'Guntur', 'Kadapa',
       'Kurnool', 'Prakasam', 'Spsr nellore', 'Srikakulam',
       'Visakhapatanam', 'Vizianagaram', 'Krishna', 'West godavari'],
      dtype=object)