In [67]:
import pandas as pd
import matplotlib.pyplot as plt

In [68]:
df = pd.read_csv("Data/newData.csv")

In [69]:
df.head()

,Crop,District,Year,Season,Area(Hectare),Production(Tonne),Yield(Tonne/Hectare)
0,Bajra,Anantapur,2014,Kharif,1752,1028.0,0.59
1,Bajra,Anantapur,2015,Kharif,3226,3326.0,1.03
2,Bajra,Anantapur,2016,Kharif,2467,1258.0,0.51
3,Bajra,Anantapur,2017,Kharif,5261,7034.0,1.34
4,Bajra,Anantapur,2018,Kharif,2979,3447.0,1.16

In [14]:
df_weather = pd.read_csv("./Data/Weather_Report_AP.csv")

In [15]:
df_weather.head()

,Crop,Crop_Year,Season,Annual_Rainfall,Fertilizer,Pesticide
0,Arecanut,1997,Whole Year,2051.4,7024878.38,22882.34
1,Arhar/Tur,1997,Kharif,2051.4,631643.29,2057.47
2,Castor seed,1997,Kharif,2051.4,75755.32,246.76
3,Coconut,1997,Whole Year,2051.4,1870661.52,6093.36
4,Cotton(lint),1997,Kharif,2051.4,165500.63,539.09

In [57]:
import pandas as pd

df_ICRT = pd.read_csv("Data/ICRISAT-District_Level_Data_NCA.csv")

In [58]:
df_ICRT.head()

,Dist Code,Year,State Code,State Name,Dist Name,Fertilizer(KG_per_hectare)
0,44,2010,1,Andhra Pradesh,Srikakulam,182.03
1,44,2011,1,Andhra Pradesh,Srikakulam,183.22
2,44,2012,1,Andhra Pradesh,Srikakulam,167.77
3,44,2013,1,Andhra Pradesh,Srikakulam,168.19
4,44,2014,1,Andhra Pradesh,Srikakulam,174.21

In [59]:
df_ICRT.columns

Index(['Dist Code', 'Year', 'State Code', 'State Name', 'Dist Name',
       'Fertilizer(KG_per_hectare)'],
      dtype='object')

In [61]:
df["District"].nunique()

23

In [62]:
df["District"].unique()

array(['Anantapur', 'Chittoor', 'East godavari', 'Guntur', 'Kadapa',
       'Kurnool', 'Prakasam', 'Spsr nellore', 'Srikakulam',
       'Visakhapatanam', 'Vizianagaram', 'Krishna', 'West godavari',
       ' Chittoor', ' Guntur', ' Krishna', ' Spsr nellore',
       ' Visakhapatanam', ' Vizianagaram', ' West godavari', ' Kurnool',
       ' Prakasam', ' Srikakulam'], dtype=object)

In [73]:
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)